body {
  background: #0e0e0e;
  color: white;
  font-family: Arial;
  text-align: center;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
}

canvas {
  width: 100%;
  height: 400px;
  display: block;
}
